# --- Python cache ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/

# --- Virtual environments ---
.venv/
venv/
ENV/
env/

# --- Streamlit ---
.streamlit/

# --- Secrets ---
.env
.env.*
!*.enc        # allow .env.enc in repo


# --- IDE/editor files ---
.vscode/
.idea/
.DS_Store*

#working documents
ToDo.txt


Encrypt_Key.py